*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
    background-color: #1b263b;
}

header{
    margin: 2vh 0;
}

.navbar{
    width: 100%;
    max-width: 1400px;
    padding: 15px 30px;
    background-color: #669bbc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration:none;
}
.logo span{
    font-size: 25px;
    font-weight: 600;
    color: #171717;
}

.logo img{
    width: 45px;
    height: 45px;
}

/* Nav right */

.nav-links-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-links a{
    text-decoration: none;
    color: #171717;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 7px;
    border: 1px solid #bebcbc;
    background-color: #fdf0d5;
    color: #171717;
}

.toggle-apps{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

.toggle-apps img{
    width: 100%;
    height: 100%;
}
