*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
    background-color: #0E1513;
}

header{
    margin: 2vh 0;
}

.navbar{
    width: 100%;
    max-width: 1400px;
    padding: 15px 30px;
    background-color: #7b2cbf;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration:none;
}
.logo span{
    font-size: 25px;
    font-weight: 600;
    color: #171717;
}

.logo img{
    width: 45px;
    height: 45px;
}

/* Nav right */

.nav-links-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-links a{
    text-decoration: none;
    color: #171717;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 7px;
    border: 1px solid #bebcbc;
    background-color: #fdf0d5;
    color: #171717;
}

.toggle-apps{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
    position: relative;
}

.toggle-apps img{
    width: 100%;
    height: 100%;
}

/*  */

.user-info-overlay-toogle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0E1513;
    border-radius:10px;
    border:1px solid #bebcbc7c;
    position: absolute;
    top: 70px;
    right: 0;
    cursor: default; 
}

.info-side{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom:1px solid #bebcbc7c;
    padding: 8px;
    width: 100%;
}
.avatar-logo{
    width: 40px;
    height: 40px;
    background-color: #153206;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffffef;
    border-radius: 50%;
}
.user-name{
    font-size: 15px;
    font-weight: 600;
    color: #ffffffef;
}
.user-email{
    font-size: 13px;
    color: #ffffffce;
}

.sett-log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.toggle-settings-container{
    padding: 10px;
    border-bottom:1px solid #bebcbc7c;
    transition: all 0.2s ease-in-out;
}
.toggle-logout-container{
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.toggle-settings,.toggle-logout{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.toggle-settings{
    color: #ffffffef;
    cursor: default; 
    border-radius: 8px;
}
.toggle-logout{
    color: red;
    cursor: default; 
}
.toggle-settings-container:hover {
    background-color: #7b2cbf;
    color: #bebcbc;
    border-radius: 10px;
}
.toggle-logout-container:hover{
    background-color: #7b2cbf;
    color: #bebcbc;
    border-radius: 10px;
}
.toggle-logout-container:hover .toggle-logout{
    color: #bebcbc;
}